<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DemoReport.Properties.Settings.TranhAnhConnectionString"
            connectionString="Data Source=DESKTOP-VT4B3DF\SQLEXPRESS;Initial Catalog=TranhAnh;User ID=sa;Password=abc123;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>